includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6

    paths:
        - app
        - tests
        - ../../generated/php-max-laravel/tictactoe/app
        - ../../generated/php-max-laravel/petshop/app

    excludePaths:
        - vendor
