<?php declare(strict_types=1);

/**
 * Auto-generated by OpenAPI Generator (https://openapi-generator.tech)
 * OpenAPI spec version: 1.0.0
 * API version: 1.0.0
 *
 * DO NOT EDIT - This file was generated by the laravel-max generator
 */

use Illuminate\Support\Facades\Route;
use TictactoeApi\Http\Controllers\CreateGameController;
use TictactoeApi\Http\Controllers\DeleteGameController;
use TictactoeApi\Http\Controllers\GetGameController;
use TictactoeApi\Http\Controllers\ListGamesController;
use TictactoeApi\Http\Controllers\GetBoardController;
use TictactoeApi\Http\Controllers\GetMovesController;
use TictactoeApi\Http\Controllers\GetSquareController;
use TictactoeApi\Http\Controllers\PutSquareController;
use TictactoeApi\Http\Controllers\GetLeaderboardController;
use TictactoeApi\Http\Controllers\GetPlayerStatsController;

/**
 * Auto-generated API Routes
 *
 * Generated from OpenAPI spec: 1.0.0
 */

// POST /games - Create a new game
Route::post('/games', CreateGameController::class)
    ->middleware(['auth:sanctum'])
    ->name('createGame');

// DELETE /games/{gameId} - Delete a game
Route::delete('/games/{gameId}', DeleteGameController::class)
    ->middleware(['auth:sanctum'])
    ->name('deleteGame');

// GET /games/{gameId} - Get game details
Route::get('/games/{gameId}', GetGameController::class)
    ->middleware(['auth:sanctum'])
    ->name('getGame');

// GET /games - List all games
Route::get('/games', ListGamesController::class)
    ->middleware(['auth:sanctum'])
    ->name('listGames');

// GET /games/{gameId}/board - Get the game board
Route::get('/games/{gameId}/board', GetBoardController::class)
    ->middleware(['auth:sanctum'])
    ->name('getBoard');

// GET /games/{gameId} - Get game details
Route::get('/games/{gameId}', GetGameController::class)
    ->middleware(['auth:sanctum'])
    ->name('getGame');

// GET /games/{gameId}/moves - Get move history
Route::get('/games/{gameId}/moves', GetMovesController::class)
    ->middleware(['auth:sanctum'])
    ->name('getMoves');

// GET /games/{gameId}/board/{row}/{column} - Get a single board square
Route::get('/games/{gameId}/board/{row}/{column}', GetSquareController::class)
    ->middleware(['auth:sanctum'])
    ->name('getSquare');

// PUT /games/{gameId}/board/{row}/{column} - Set a single board square
Route::put('/games/{gameId}/board/{row}/{column}', PutSquareController::class)
    ->middleware(['auth:sanctum'])
    ->name('putSquare');

// GET /leaderboard - Get leaderboard
Route::get('/leaderboard', GetLeaderboardController::class)
    ->name('getLeaderboard');

// GET /players/{playerId}/stats - Get player statistics
Route::get('/players/{playerId}/stats', GetPlayerStatsController::class)
    ->middleware(['auth:sanctum'])
    ->name('getPlayerStats');

// GET /games/{gameId}/board - Get the game board
Route::get('/games/{gameId}/board', GetBoardController::class)
    ->middleware(['auth:sanctum'])
    ->name('getBoard');

