<?php declare(strict_types=1);

/**
 * Tic Tac Toe Game API
 * API for managing Tic Tac Toe games with Bearer authentication
 * PHP version 8.1
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI-Generator
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

/**
 * GENERATED API ROUTES
 *
 * This file is generated from OpenAPI specification.
 * Include this file from your Laravel routes/api.php within a Route::group.
 *
 * Routes will use middleware groups with 'api.middlewareGroup.' prefix if they are defined.
 * For example: 'api.middlewareGroup.createGame', 'api.middlewareGroup.getGame', etc.
 * Define these groups in bootstrap/app.php only when you need custom middleware for an operation.
 *
 * Usage in routes/api.php:
 * ```php
 * // Wrap generated routes in a group
 * Route::group(['prefix' => 'v1', 'middleware' => ['api']], function ($router) {
 *     require base_path('generated/server/routes.php');
 * });
 * ```
 *
 * MIDDLEWARE USAGE:
 *
 * Routes will automatically use middleware groups named 'api.middlewareGroup.{operationId}'
 * if they are defined in your application. Define middleware groups in bootstrap/app.php:
 *
 * ```php
 * ->withMiddleware(function (Middleware $middleware): void {
 *     // Define middleware groups for specific operations
 *     $middleware->group('api.middlewareGroup.createGame', [
 *         \LaravelMaxApi\Http\Middleware\ValidateBearerToken::class,
 *     ]);
 *
 *     $middleware->group('api.middlewareGroup.getGame', [
 *         \LaravelMaxApi\Http\Middleware\ValidateBearerToken::class,
 *         \LaravelMaxApi\Http\Middleware\CacheResponse::class,
 *     ]);
 * })
 * ```
 *
 * Routes will only have middleware attached if their corresponding group is defined.
 * Operations without defined middleware groups will have no middleware applied.
 */

// Use $router variable passed from Route::group closure
// This file expects $router to be available from the including context

/**
 * POST /games
 * Create a new game
 * Creates a new TicTacToe game with specified configuration.
 *
 * Security Requirements:
 * - bearerHttpAuthentication (http): Bearer token using a JWT
 *   Format: Bearer token (JWT)
 *
 * Suggested middleware group (in bootstrap/app.php):
 * $middleware->group('api.middlewareGroup.createGame', [
 *     \LaravelMaxApi\Http\Middleware\AuthenticateGame::class,  // Validate JWT token
 * ]);
 */
$route = $router->POST('/games', [LaravelMaxApi\Http\Controllers\GameController::class, 'createGame'])
    ->name('api.createGame');

// SECURITY REQUIREMENT: This operation requires authentication
// Required security: bearerHttpAuthentication
// Middleware group 'api.middlewareGroup.createGame' MUST be defined and contain middleware implementing:
// - LaravelMaxApi\Security\bearerHttpAuthenticationInterface

// Attach middleware group (if defined)
if ($router->hasMiddlewareGroup('api.middlewareGroup.createGame')) {
    $route->middleware('api.middlewareGroup.createGame');
}


/**
 * GET /games/{gameId}
 * Get game details
 * Retrieves detailed information about a specific game.
 *
 * Security Requirements:
 * - bearerHttpAuthentication (http): Bearer token using a JWT
 *   Format: Bearer token (JWT)
 *
 * Suggested middleware group (in bootstrap/app.php):
 * $middleware->group('api.middlewareGroup.getGame', [
 *     \LaravelMaxApi\Http\Middleware\AuthenticateGame::class,  // Validate JWT token
 * ]);
 */
$route = $router->GET('/games/{gameId}', [LaravelMaxApi\Http\Controllers\GameController::class, 'getGame'])
    ->name('api.getGame');

// SECURITY REQUIREMENT: This operation requires authentication
// Required security: bearerHttpAuthentication
// Middleware group 'api.middlewareGroup.getGame' MUST be defined and contain middleware implementing:
// - LaravelMaxApi\Security\bearerHttpAuthenticationInterface

// Attach middleware group (if defined)
if ($router->hasMiddlewareGroup('api.middlewareGroup.getGame')) {
    $route->middleware('api.middlewareGroup.getGame');
}



// ============================================================================
// Security Middleware Validation (Auto-generated)
// ============================================================================
// Validates that all required security middleware is properly configured
// Only runs when APP_DEBUG=true (development mode)
// ============================================================================

if (config('app.debug', false)) {
    // Validate security middleware configuration
    if (class_exists(LaravelMaxApi\Security\SecurityValidator::class)) {
        try {
            LaravelMaxApi\Security\SecurityValidator::validateMiddleware($router);
        } catch (\RuntimeException $e) {
            // Log validation errors but don't break the application
            error_log("Security middleware validation failed for App:");
            error_log($e->getMessage());

            // In debug mode, you might want to throw the exception to catch issues early
            // Uncomment the line below to make validation failures fatal:
            // throw $e;
        }
    }
}
